{% extends 'base.html' %}
{% block title %} category {% endblock %}
{% block content %}
{% load static %}

<div class="container wrapper">
		<div class="longrek"></div>
		<div class="clearfix"></div>

		<ol class="breadcrumb">
			<li><a href="#">Главная</a></li>
			<li class="active">{{ articles.category.name }}</li>
		</ol>
		<div class="row">
				<div class="news_box">
					{% for article in articles %}
					<div class="cat_news">
						<div class="cat_img"><img src="{{ article.image.url }}" alt=""></div>
						<a href="#">{{ article.description }}</a>
						<p>{{ article.content }}</p>
						<span class="date">{{ article.update_at }}</span>
						<span class="news_type"><i class="fa fa-pencil"></i>{{ article.category.name }}</span>
					</div>
					{% endfor %}

					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>



		</div>
	</div>

{% endblock %}